@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin-bottom: 0rem;
}

a {
    text-decoration: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    -moz-appearance: auto !important;
    appearance: auto !important;
    -webkit-appearance: auto !important;
}
//responsive breakpoints
$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 991px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

:root {
    --color-white: #fff;
    --color-black: #000;
    --text-color: #333;
    --color-light-gray: #ecf0f1;
}

.top-menu {
    background-color: var(--text-color);
    padding: 0.8rem 1rem;
    @media screen and (max-width: $lg-breakpoint) {
        padding: 0.7rem 0.5rem;
    }
    .language {
        color: var(--color-white);
    }
    strong {
        color: var(--color-white);
        margin-right: 0.5rem;
        display: block;
        font-size: 1rem;
    }
    a {
        color: var(--color-white);
        opacity: 0.5;
        &.active {
            opacity: 1;
        }
    }
    span {
        color: var(--color-white);
    }
}

header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--text-color);
    @media screen and (max-width: $lg-breakpoint) {
        padding: 0.7rem 0.5rem;
    }
    .navbar {
        @media screen and (max-width: $lg-breakpoint) {
            flex-wrap: initial;
        }
    }
    .collapse {
        margin-left: 3rem;
        @media screen and (max-width: $xl-breakpoint) {
            margin-left: 1rem;
        }
        ul {
            li {
                margin-right: 1.5rem;
                @media screen and (max-width: $xl-breakpoint) {
                    margin-right: 1rem;
                }
                a {
                    font-size: 1.2rem;
                    font-weight: 400;
                    &:hover {
                        font-weight: 500;
                    }
                    @media screen and (max-width: $xl-breakpoint) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    .navbar-brand {
        max-width: 12rem;
        width: 100%;
        @media screen and (max-width: $xl-breakpoint) {
            max-width: 9rem;
        }
    }
    .navbar-nav {
        @media screen and (max-width: $lg-breakpoint) {
            display: none;
        }
    }
    .nav-item {
        .nav-link {
            color: var(--text-color);
        }
    }
    .right {
        a {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            span {
                color: var(--text-color);
                display: block;
                margin-left: 0.2rem;
                
            }
        }
        span{
            @media screen and (max-width: $sm-breakpoint) {
                font-size: 0.8rem !important;
            }
        }
        .star {
            max-width: 1.3rem;
            @media screen and (max-width:$sm-breakpoint) {
                max-width: 1.1rem;
            }
        }
    }
}

.banner {
    .container {
        padding: 3rem 2rem;
        @media screen and (max-width: 1550px) {
            padding: 3rem 5rem;
        }
        @media screen and (max-width: $xl-breakpoint) {
            padding: 3rem 2rem;
        }
        @media screen and (max-width: $lg-breakpoint) {
            padding: 2rem 1.2rem;
        }
       
        .content {
            padding-left: 3rem;
            @media screen and (max-width: $xl-breakpoint) {
                padding-left: 0rem;
            }
            h1 {
                font-size: 2.3rem;
                font-weight: 400;
                color: var(--text-color);
                margin-bottom: 1rem;
                @media screen and (max-width: 1550px) {
                    font-size: 2.1rem;
                }
                @media screen and (max-width: $xl-breakpoint) {
                    font-size: 1.6rem;
                }
                @media screen and (max-width: $lg-breakpoint) {
                    font-size: 1.4rem;
                    margin-top: 2rem;
                }
            }
            p {
                font-size: 1rem;
                font-weight: 300;
                color: var(--text-color);
                @media screen and (max-width: $xl-breakpoint) {
                    font-size: 0.8rem;
                }
            }
            h2 {
                font-size: 1.125rem;
                margin-top: 2rem;
                font-weight: 600;
                color: var(--text-color);
                @media screen and (max-width: $xl-breakpoint) {
                    font-size: 1rem;
                }
                @media screen and (max-width: $lg-breakpoint) {
                    margin-top: 1rem;
                }
            }
            .menu-title {
                font-size: 1rem;
                font-weight: 600;
                @media screen and (max-width: $xl-breakpoint) {
                    font-size: 0.9rem;
                }
            }
            .summary {
                font-size: 0.9rem;
                font-weight: 300;
                @media screen and (max-width: $xl-breakpoint) {
                    font-size: 0.8rem;
                }
            }
            span {
                font-weight: 600;
                color: var(--text-color);
            }
        }
    }
}

footer{
    padding: 0.5rem 1rem;
    @media screen and (max-width: $lg-breakpoint) {
        padding: 0.7rem 0.5rem;
    }
    .navbar-brand {
        max-width: 12rem;
        width: 100%;
        @media screen and (max-width: $xl-breakpoint) {
            max-width: 9rem;
        }
    }
}