@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin-bottom: 0rem;
}

a {
  text-decoration: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -moz-appearance: auto !important;
  appearance: auto !important;
  -webkit-appearance: auto !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-black);
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --text-color: #333;
  --color-light-gray: #ecf0f1;
  --color-red: #ff0101;
  --color-blue: #187dc1;
}

.top-menu {
  background-color: var(--color-blue);
  padding: 0.8rem 10rem;
}

@media screen and (max-width: 991px) {
  .top-menu {
    padding: 0.7rem 0.5rem;
  }
}

.top-menu .language {
  color: var(--color-white);
}

.top-menu strong {
  color: var(--color-white);
  margin-right: 0.5rem;
  display: block;
  font-size: 1rem;
}

.top-menu a {
  color: var(--color-white);
  opacity: 0.5;
}

.top-menu a.active {
  opacity: 1;
}

.top-menu span {
  color: var(--color-white);
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: var(--color-white);
}

header .container-fluid {
  padding: 0;
}

header .navbar {
  /*  @include shadow; */
  border-bottom: 1px solid var(--color-black);
  height: 8rem;
  padding: 0rem 3rem 0rem 3rem;
}

header .navbar .social-media {
  margin-right: 1rem;
}

header .navbar .social-media a {
  margin-right: 1rem;
}

header .navbar .social-media a:last-child {
  margin-right: 0;
}

header .navbar .social-media a i {
  color: var(--color-black);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

header .navbar .social-media a i:hover {
  color: var(--color-orange);
}

header .navbar .navbar-brand {
  margin-right: 0;
}

header .navbar .navbar-brand img {
  max-width: 10rem;
}

@media screen and (max-width: 600px) {
  header .navbar .navbar-brand img {
    max-width: 6rem;
  }
}

header .navbar .dropdown .btn {
  font-size: 1.1rem;
  font-weight: 500;
}

header .navbar .dropdown .dropdown-menu {
  min-width: 1rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.15);
}

header .navbar .dropdown .dropdown-menu .dropdown-item:hover, header .navbar .dropdown .dropdown-menu .dropdown-item:active {
  background-color: var(--cream-color);
  color: var(--color-black);
}

header .navbar-form .input-group .form-control {
  border-color: var(--color-gray);
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 0;
}

header .navbar-form .input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

header .navbar-form .input-group .input-group-btn {
  position: absolute;
  right: 0;
  z-index: 9999;
}

header .navbar-form .input-group .input-group-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-list-area {
  -webkit-box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 9px 9px -10px rgba(0, 0, 0, 0.55);
  width: 100%;
  overflow-y: auto;
  padding: 1rem 3rem 1rem 3rem;
}

header .menu-list-area .col-7 {
  border-right: 1px solid var(--color-light-gray);
}

@media screen and (max-width: 600px) {
  header .menu-list-area .col-7 {
    width: 54.33333333%;
  }
}

@media screen and (max-width: 375px) {
  header .menu-list-area .col-7 {
    width: 58.33333333%;
  }
}

@media screen and (max-width: 372px) {
  header .menu-list-area .col-7 {
    width: 69.33333333%;
  }
}

header .menu-list-area .row {
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
}

header .menu-list-area .row a {
  font-size: 0.9rem;
  color: var(--color-black);
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu-list-area .row a:hover {
  color: var(--color-red);
}

header .menu-list-area .row a.active::before {
  content: "";
  background-color: var(--color-black);
  height: 0.1rem;
  width: 100%;
  position: absolute;
  bottom: -0.5rem;
}

/* header {
  border-bottom: 1px solid var(--text-color);
  padding: 0.8rem 10rem;
  @media screen and (max-width: $lg-breakpoint) {
    padding: 0.7rem 0.5rem;
  }
  .navbar {
    @media screen and (max-width: $lg-breakpoint) {
      flex-wrap: initial;
    }
  }
  .collapse {
    margin-left: 3rem;
    @media screen and (max-width: $xl-breakpoint) {
      margin-left: 1rem;
    }
    ul {
      li {
        margin-right: 1.5rem;
        @media screen and (max-width: $xl-breakpoint) {
          margin-right: 1rem;
        }
        a {
          font-size: 1.2rem;
          font-weight: 400;
          &:hover {
            font-weight: 500;
          }
          @media screen and (max-width: $xl-breakpoint) {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  .navbar-brand {
    max-width: 12rem;
    width: 100%;
    @media screen and (max-width: $xl-breakpoint) {
      max-width: 9rem;
    }
  }
  .navbar-nav {
    @media screen and (max-width: $lg-breakpoint) {
      display: none;
    }
  }
  .nav-item {
    .nav-link {
      color: var(--text-color);
    }
  }
  .right {
    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      span {
        color: var(--text-color);
        display: block;
        margin-left: 0.2rem;
      }
    }
    span {
      @media screen and (max-width: $sm-breakpoint) {
        font-size: 0.8rem !important;
      }
    }
    .star {
      max-width: 1.3rem;
      @media screen and (max-width: $sm-breakpoint) {
        max-width: 1.1rem;
      }
    }
  }
} */
.banner {
  padding: 5rem 10rem 3rem 10rem;
}

@media screen and (max-width: 991px) {
  .banner {
    padding: 0.7rem 0.5rem;
  }
}

.banner .container-fluid .content {
  padding-left: 3rem;
}

.banner .container-fluid .content h1 {
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 1rem;
}

@media screen and (max-width: 1550px) {
  .banner .container-fluid .content h1 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 1200px) {
  .banner .container-fluid .content h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 991px) {
  .banner .container-fluid .content h1 {
    font-size: 1.4rem;
    margin-top: 2rem;
  }
}

.banner .container-fluid .content p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
}

@media screen and (max-width: 1200px) {
  .banner .container-fluid .content p {
    font-size: 0.8rem;
  }
}

.banner .container-fluid .content h2 {
  font-size: 1.125rem;
  margin-top: 2rem;
  font-weight: 600;
  color: var(--text-color);
}

@media screen and (max-width: 1200px) {
  .banner .container-fluid .content h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .banner .container-fluid .content h2 {
    margin-top: 1rem;
  }
}

.banner .container-fluid .content .menu-title {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .banner .container-fluid .content .menu-title {
    font-size: 0.9rem;
  }
}

.banner .container-fluid .content .summary {
  font-size: 0.9rem;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .banner .container-fluid .content .summary {
    font-size: 0.8rem;
  }
}

.banner .container-fluid .content span {
  font-weight: 600;
  color: var(--text-color);
}

.sub-banner {
  min-height: 16rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.sub-banner .container-fluid {
  padding: 0;
}

.sub-banner .content {
  display: inline-block;
  background-color: #ffffffc0;
  padding: 3rem 7rem 3rem 10rem;
}

.sub-banner .content .logo {
  max-width: 14rem;
  margin-bottom: 1rem;
}

.sub-banner .content h1 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;
}

.sub-banner .content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sub-banner .content a span {
  color: var(--text-color);
  display: block;
  margin: 0.5rem 0rem;
  margin-left: 0.2rem;
}

@media screen and (max-width: 600px) {
  .sub-banner .content span {
    font-size: 0.8rem !important;
  }
}

.sub-banner .content .star {
  max-width: 1.3rem;
}

@media screen and (max-width: 600px) {
  .sub-banner .content .star {
    max-width: 1.1rem;
  }
}

.restaurant-menu {
  padding: 2rem 7rem;
  background-color: #ecf0f1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  overflow-x: scroll;
}

@media screen and (max-width: 991px) {
  .restaurant-menu {
    padding: 0.7rem 0.5rem;
  }
}

.restaurant-menu::-webkit-scrollbar {
  display: none;
}

.restaurant-menu ul li {
  padding-right: 2.5rem;
}

.restaurant-menu ul li a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.1rem;
}

.menu-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.menu-section ul li {
  padding-right: 2.8rem;
  padding-left: 0.5rem;
}

.menu-section ul li a {
  white-space: nowrap;
}

.menu-section .accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content-section {
  padding: 2rem 3rem;
  overflow: hidden;
}

.content-section .container-fluid {
  padding: 0;
  /* .accordion-button:not(.collapsed)::after{
            transform: inherit;
        } */
  /*   .sidebar {
      position: sticky;
      top: 0;
      .order-box {
        padding-left: 4rem;
        display: flex;
        flex-direction: column;
        h3 {
          color: var(--text-color);
          font-size: 1.4rem;
          font-weight: 500;
          border-bottom: 1px solid #e1e1e1;
          padding-bottom: 1.5rem;
          padding-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
        span {
          text-align: center;
          display: block;
        }
        .btn {
          border: 1px solid var(--text-color);
          padding: 0.7rem 1.8rem;
          display: inline-block;
          margin-top: 2rem;
          border-radius: 3rem;
          outline: none;
          box-shadow: none;
          color: var(--text-color);
          font-weight: 500;
          font-size: 1.1rem;
          transition: 0.3s all;
          &:hover {
            background-color: var(--text-color);
            color: var(--color-white);
          }
        }
        form {
          margin-top: 2rem;
          .cart-lines {
            margin: 1rem 0rem;
            .item {
              padding: 1.3rem 0rem;
              border-bottom: 1px solid #e1e1e1;
            }
            .form-select {
              outline: none;
              box-shadow: none;
              height: 100%;
              border: 1px solid #e1e1e1;
              color: var(--text-color);
            }
          }
          .form-group {
            label {
              margin-bottom: 1rem;
            }
            select option:checked {
              background-color: var(--color-light-gray) !important;
            }
            select option:hover {
              background-color: var(--color-light-gray) !important;
            }

            .form-select {
              padding: 0.6rem 1rem;
              box-shadow: none;
              outline: none;
              border: 1px solid #e1e1e1;
              color: var(--text-color);

              option {
                padding: 0.5rem 1rem;
                span {
                  left: 2rem;
                  padding-left: 2rem !important;
                  display: block;
                }
              }
            }
          }
          
        }
      }
    } */
}

.content-section .container-fluid .accordion-collapse {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-section .container-fluid .accordion-item {
  border: none;
  border-radius: 0;
  color: var(--text-color);
}

.content-section .container-fluid .accordion-item .accordion-button:not(.collapsed) {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: var(--text-color);
}

.content-section .container-fluid .accordion-item .accordion-body {
  padding: 2rem 0rem;
}

.content-section .container-fluid .accordion-item .accordion-body .box {
  border: 1px solid #e1e1e1;
  padding: 2rem 2.4rem 2rem 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.content-section .container-fluid .accordion-item .accordion-body .box:hover .btn {
  opacity: 1;
  right: 0;
}

.content-section .container-fluid .accordion-item .accordion-body .box h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.content-section .container-fluid .accordion-item .accordion-body .box p {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.content-section .container-fluid .accordion-item .accordion-body .box strong {
  color: var(--text-color);
}

.content-section .container-fluid .accordion-item .accordion-body .box form .form-check {
  margin-bottom: 0.6rem;
}

.content-section .container-fluid .accordion-item .accordion-body .box form input {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--color-light-gray);
}

.content-section .container-fluid .accordion-item .accordion-body .box form .form-select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.content-section .container-fluid .accordion-item .accordion-body .box form .btn {
  border: 1px solid var(--color-blue);
  margin-top: 2rem;
  position: absolute;
  right: -5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  bottom: 0;
  opacity: 0;
}

.content-section .container-fluid .accordion-item .accordion-body .box form .btn:hover {
  background-color: var(--color-blue);
}

.content-section .container-fluid .accordion-item .accordion-body .box form .btn:hover i {
  color: var(--color-white);
}

.content-section .container-fluid .accordion-item .accordion-body .box form .btn i {
  color: var(--color-blue);
}

.content-section .container-fluid .accordion-item .accordion-button {
  padding: 1.5rem 0rem;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
  padding-left: 0rem;
  padding-right: 0rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-bottom: 1px solid #e1e1e1 !important;
}

.content-section .container-fluid .accordion-item .accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.content-section .container-fluid .accordion-item .accordion-button:focus:not(.collapsed)::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.content-section .container-fluid .accordion-item .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

footer {
  padding: 5rem 10rem;
}

@media screen and (max-width: 991px) {
  footer {
    padding: 0.7rem 0.5rem;
  }
}

footer .navbar-brand {
  max-width: 12rem;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  footer .navbar-brand {
    max-width: 9rem;
  }
}
/*# sourceMappingURL=style.css.map */